* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: black;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid #060606;
  border-radius: 15px;
}

.nav-right a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

/* Hero Section */
.hero {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Big Title */
.title {
  position: absolute;
  top: 5px;
  font-size: 175px;
  font-weight: bold;
  color: #ddd;
}

/* Profile Image */
.profile {
  width: 300px;
  z-index: 2;
}

.left-text {
  position: absolute;
  left: 100px;
  bottom: 100px;
  text-align: left;
}


.left-text h2.ai {
  top: 0;
  left: 0;
  font-size: 48px;
  font-weight: 700;
  z-index: 2;
}

.left-text h2.and {
  top: 22px;
  text-align: left 20px;
  left: 80px;
  font-size: 32px;
  font-weight: 600;
  z-index: 1;
}

.left-text h2.ml {
  top: -6px;
  left: 110px;
  font-size: 50px;
  font-weight: 700;
  z-index: 2;
}

.left-text p.ent {
  top: 70px;
  left: 4px;
  font-size: 28px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.9);
}

/* Right Text */
.right-text {
  position: absolute;
  right: 100px;
  bottom: 100px;
  text-align: right;
}

.right-text h2 {
  font-size: 50px;
  font-weight: bold;
}

.right-text .small {
  font-size: 20px;
  font-style: italic;
}